urllib3==1.22
vk==2.0.2
Django==2.2.10
django-cors-headers==2.2.0
django-crispy-forms==1.7.2
django-picklefield==2.0
django-webpack-loader==0.6.0
djangorestframework==3.8.2
djongo==1.2.32
Babel==2.5.3
jedi==0.11.1
Jinja2==2.10
google-auth==1.6.3
google-auth-oauthlib==0.3.0
