<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
{% load static %}

<div style="height: 5%;">
	<nav>
		<div class="nav_link">
			<a href="{% url 'index'%}">main</a>
		</div>
	  {% if user.is_authenticated %}
		<div class="nav_link">
			<a href="{% url 'logout'%}">logout</a>
		</div>
		<div class="nav_link">
			<a href="{% url 'edit_page'%}">edit page</a>
		</div>

		<div class="nav_link">
			<a href="{% url 'porcess_vk_auth'%}">login vk</a>
		</div>
	  {% else %}

		<div class="nav_link">
			<a href="{% url 'login'%}">login</a>
		</div>

		<div class="nav_link">
			<a href="{% url 'register'%}">register</a>
		</div>


	  {% endif %}
	</nav>
</div>

{% if messages %}
	{% for message in messages %}
	<div >
		{{ message }}
	</div>
	{% endfor %}
{% endif %}

{% block content %}
{% endblock content %}



<style type="text/css">

</style>

<!--script type="text/javascript" src="{% static 'react_builder/dist/index.js' %}"></script-->
<!--script type="text/javascript" src="{% static 'make_page/dist/index.js' %}"></script-->
<script type="text/javascript" src="{% static 'minimal-react-webpack-babel-setup/dist/bundle.js' %}"></script>
</body>
</html>
