.Feed{
  width: 100%;
  text-align: center;
  vertical-align: center;
}
.Feed > form{
  width: 380px;
  display: inline-block;
}
.Feed > form > div{
  margin: 20px;
  color: white;
  height: 110px;
  width: 380px;
  background-color: #141414;
  border: 2px solid white;
  font-size: 17px;
}

.Feed > form > div > input{
  margin-top: 20px;
}
